<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="sv">
<head>
    <th:block th:replace="~{fragments/general :: header-css}"></th:block>
    <title>Redigera instrument</title>
</head>

<body>
<div th:replace="~{fragments/general :: header}"></div>

<!-- Modal -->
<div class="modal" id="deleteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ta bort instrument</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Vill du verkligen ta bort detta instrument?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Avbryt</button>
                <a class="btn btn-danger" th:href="@{/instrument/delete(id=${instrument.id})}">Ta bort</a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h1>Redigera instrument</h1>

    <form role="form" th:action="@{/instrument/save}" th:object="${instrument}" th:method="post">
        <input type="hidden" th:field="*{id}" th:value="${instrument.id}"/>

        <div class="form-floating mb-2">
            <input type="text" class="form-control" th:field="*{name}" th:value="${instrument.name}" id="name"/>
            <span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</span>
            <label for="name">Namn</label>
        </div>
        <div class="form-floating mb-2">
            <input type="text" class="form-control" th:field="*{shortName}" th:value="${instrument.shortName}"
                   id="shortName"/>
            <label for="shortName">Förkortning</label>
        </div>
        <div class="form-floating mb-3">
            <input type="number" class="form-control" th:field="*{sortOrder}"
                   th:value="${instrument.sortOrder}" id="sortOrder"/>
            <span class="text-danger" th:if="${#fields.hasErrors('sortOrder')}"
                  th:errors="*{sortOrder}">Error</span>
            <label for="sortOrder">Sorteringsordning</label>
        </div>

        <div class="row gy-2 mb-3">
            <div class="col-auto">
                <a class="btn btn-secondary" th:href="@{list}">Tillbaka</a>
            </div>
            <div class="col-auto">
                <input sec:authorize="hasAuthority('EDIT_INSTRUMENT')" type="submit" class="btn btn-primary"
                       value="Spara"/>
            </div>
            <div class="col-auto">
                <button sec:authorize="hasAuthority('EDIT_INSTRUMENT')" type="button" class="btn btn-danger"
                        data-toggle="modal" data-target="#deleteModal">Ta bort
                </button>
            </div>
        </div>
    </form>
</div>

<footer th:replace="~{fragments/general :: footer}"></footer>
</body>
</html>