<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="sv">
<head>
    <th:block th:replace="fragments/general :: header-css"></th:block>
    <title>Lista instrument</title>
</head>

<body>
<div th:replace="fragments/general :: header"></div>

<div class="container">
    <h2>Instrument</h2>
    <table class="table table-bordered table-striped table-hover table-sm">
        <thead>
        <tr>
            <th>Namn</th>
            <th>Förkortning</th>
            <th>Ordning</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="instrument : ${instruments}" th:data-link="@{view(id=${instrument.id})}">
            <td th:text="${instrument.name}"></td>
            <td th:text="${instrument.shortName}"></td>
            <td th:text="${instrument.sortOrder}"></td>
        </tr>
        </tbody>
    </table>

    <div sec:authorize="hasAuthority('EDIT_INSTRUMENT')">
        <div class="row gy-2 mb-3">
            <div class="col-auto">
                <a class="btn btn-secondary" th:href="@{editOrder}">Ändra ordning</a>
            </div>
            <div class="col-auto">
                <a class="btn btn-secondary" th:href="@{create}">Lägg till</a>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments/general :: footer"></footer>
</body>
<script>
    $(function () {
        $("table tbody tr").click(function (e) {
            window.location.href = $(this).data("link");
        });
    });
</script>
</html>