<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="sv">
<head>
    <th:block th:replace="~{fragments/general :: header-css}"></th:block>
    <title>Redigera noter</title>
    <script>
        $(document).ready(function () {
            $('a[data-bs-toggle="tab"]').on('show.bs.tab', function (e) {
                localStorage.setItem('activeTab', $(e.target).attr('href'));
            });
            var activeTab = localStorage.getItem('activeTab');
            if (activeTab) {
                $('#arrTabs a[href="' + activeTab + '"]').tab('show');
            }
        });
    </script>
</head>

<body>
<div th:replace="~{fragments/general :: header}"></div>

<!-- Modal confirm score delete -->
<div class="modal" id="deleteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ta bort låt</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Vill du verkligen ta bort denna låt?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Avbryt</button>
                <a class="btn btn-danger" th:href="@{/score/delete(id=${score.id})}">Ta bort</a>
            </div>
        </div>
    </div>
</div>

<!-- Modal edit file properties -->

<div class="container">
    <h1>Redigera låt</h1>

    <form role="form" th:action="@{/score/submit}" th:object="${score}" th:method="post" enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}" th:value="${score.id}"/>

        <!-- General info -->
        <div class="form-row mb-3 border pt-2 px-2">
            <div class="form-row">
                <div class="col-md-9">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="title" th:field="*{title}"
                               th:value="${score.title}"/>
                        <span class="text-danger" th:if="${#fields.hasErrors('title')}"
                              th:errors="*{title}">Error</span>
                        <label for="title">Titel</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="subTitle" th:field="*{subTitle}"
                               th:value="${score.subTitle}"/>
                        <label for="subTitle">Subtitel</label>
                    </div>
                    <div class="row g-2">
                        <div class="col-md" id="prefetch-genres">
                            <div>
                                <label for="genre">Genre</label>
                                <input type="text" class="form-control typeahead" id="genre" autocomplete="off"
                                       th:field="*{genre}"
                                       th:value="${score.genre}"/>
                                <span class="text-danger" th:if="${#fields.hasErrors('genre')}"
                                      th:errors="*{genre}">Error</span>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-floating">
                                <input type="number" class="form-control" id="year" th:field="*{year}"
                                       th:value="${score.year}"/>
                                <label for="year">År</label>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-3" align="center">
                    <figure class="figure">
                        <img class="figure-img img-fluid rounded" th:src="@{${score.getThumbnailPath()}}"/>
                    </figure>
                </div>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control typeahead" id="composer" autocomplete="off"
                       th:field="*{composer}"
                       th:value="${score.composer}"/>
                <label for="composer">Kompositör</label>
            </div>
            <div class="mb-3" id="prefetch-authors">
                <label for="author">Författare</label>
                <input type="text" class="form-control typeahead" id="author" autocomplete="off"
                       th:field="*{author}"
                       th:value="${score.author}"/>
            </div>

            <div class="mb-3" id="prefetch-arrangers">
                <label for="arranger">Arrangör</label>
                <input type="text" class="form-control typeahead" id="arranger" autocomplete="off"
                       th:field="*{arranger}"
                       th:value="${score.arranger}" placeholder="arr"/>
            </div>
            <div class="mb-3" id="prefetch-publishers">
                <label for="publisher">Förlag</label>
                <input type="text" class="form-control typeahead" id="publisher" autocomplete="off"
                       th:field="*{publisher}"
                       th:value="${score.publisher}"/>
            </div>
            <div class="form-floating mb-3">
                <textarea class="form-control" rows="4" id="comment" th:field="*{comment}"
                          th:value="${score.comment}"></textarea>
                <label for="comment">Kommentar</label>
            </div>
        </div>

        <!-- Arrangement -->
        <div class="form-row mb-3 border pt-2 px-2" id="arrangement">
            <div class="form-group col">
                <h3>Arrangemang</h3>

                <ul class="nav nav-tabs" id="arrTabs" role="tablist">
                    <li class="nav-item" role="presentation"
                        th:each="arr, i : ${score.getArrangements()}">
                        <button class="nav-link" th:classappend="${i.index == 0} ? 'active'"
                                th:id="'tab-' + ${arr.getId()}" data-bs-toggle="tab"
                                th:data-bs-target="'#pane-' + ${arr.getId()}"
                                type="button" role="tab"
                                th:aria-controls="'tab-pane-' + ${arr.getId()}"
                                th:aria-selected="${i.index == 0} ? 'true' : 'false'"
                                th:text="${arr.getName()}">
                        </button>
                    </li>
                </ul>
                <div class="tab-content" id="arrContent">
                    <div class="tab-pane" th:classappend="${arrStat.index == 0} ? 'show active'"
                         th:id="'pane-' + ${arr.getId()}" role="tabpanel"
                         th:aria-labelledby="'tab-' + ${arr.getId()}"
                         th:each="arr, arrStat : ${score.getArrangements()}">
                        <div class="alert alert-info" th:text="${arr.getComment()}"
                             th:if="${arr.getComment()}"/>
                        <table class="table table-sm table-borderless mb-0">
                            <thead>
                            <tr>
                                <th>Instrument</th>
                                <th style="width:10%">Placering</th>
                                <th style="width:10%">Antal</th>
                                <th>Kommentar</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="arrPart,rowStat : ${arr.getArrangementParts()}">
                                <td>
                                    <select th:field="*{arrangements[__${arrStat.index}__].arrangementParts[__${rowStat.index}__].instrument.id}">
                                        <option th:each="i2 : ${instruments}" th:value="${i2.id}"
                                                th:text="${i2.name}">
                                            bla
                                        </option>
                                    </select>
                                </td>
                                <td>
                                    <input type="number" class="form-control form-control-sm"
                                           th:field="*{arrangements[__${arrStat.index}__].arrangementParts[__${rowStat.index}__].page}"
                                           th:value="${arrPart.page}"/>
                                </td>
                                <td>
                                    <input type="number" class="form-control form-control-sm"
                                           th:field="*{arrangements[__${arrStat.index}__].arrangementParts[__${rowStat.index}__].length}"
                                           th:value="${arrPart.length}"/>
                                </td>
                                <td>
                                    <input type="text" class="form-control form-control-sm"
                                           th:field="*{arrangements[__${arrStat.index}__].arrangementParts[__${rowStat.index}__].comment}"
                                           th:value="${arrPart.comment}"/>
                                </td>
                                <td>
                                    <button class="btn btn-sm btn-danger"
                                            type="submit" name="deleteArrangementPart"
                                            th:value="${arr.getId()} + '-' + ${rowStat.index}">Ta bort
                                    </button>
                                    <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal"
                                            data-bs-target="#uploadFile"><span class="bi-pencil-square"/>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <hr>
                        <div class="row">
                            <div class="col">
                                <button sec:authorize="hasAuthority('EDIT_SONG')"
                                        class="btn btn-primary btn-sm mb-2"
                                        type="submit" name="addArrangementPart" th:value="${arr.getId()}">Lägg
                                    till
                                    instrument
                                </button>
                                <button type="submit" class="btn btn-primary btn-sm mb-2" name="addArrangement">
                                    Lägg till arrangemang
                                </button>
                                <button type="submit" class="btn btn-danger btn-sm" name="deleteArrangement"
                                        th:value="${arr.getId()}">
                                    Ta bort arrangemang
                                </button>
                            </div>
                            <div class="col">
                                <label class="form-select-label">Filkoppling
                                    <select class="form-select-sm"
                                            th:field="*{arrangements[__${arrStat.index}__].file}">
                                        <option label="-- No Value Selected --" value=""></option>
                                        <option th:each="ngf : ${score.getFiles()}"
                                                th:value="${ngf.getId()}"
                                                th:text="${ngf.getDisplayName()}"/>
                                    </select>
                                </label>
                                <label class="form-select-label">Scanningsklass
                                    <select class="form-select-sm"
                                            th:field="*{arrangements[__${arrStat.index}__].scoreType}">
                                        <option th:each="st : ${T(se.terrassorkestern.notgen.model.ScoreType).values()}"
                                                th:value="${st}"
                                                th:text="${st.getShortDescription()}"/>
                                    </select>
                                </label>
                            </div>
                            <div class="col">
                                <label class="form-select-label mb-3">Standardarrangemang
                                    <select class="form-select-sm" id="defaultArrangement"
                                            name="defaultArrangementIndex">
                                        <option th:each="a, i : ${score.getArrangements()}"
                                                th:value="${i.index}"
                                                th:selected="${score.defaultArrangement} == ${a}"
                                                th:text="${a.getName()}"/>
                                    </select>
                                </label>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="cover"
                                           th:field="*{arrangements[__${arrStat.index}__].cover}"
                                           th:value="${arr.cover}"/>
                                    <label for="cover" class="form-check-label">Har omslag</label>
                                </div>
                            </div>
                            <div class="col">
                                <label class="form-label">Namn
                                    <input type="text" class="form-control form-control-sm"
                                           th:field="*{arrangements[__${arrStat.index}__].name}"
                                           th:value="${arr.getName()}">
                                </label>
                                <label class="form-label">Arkivplats
                                    <input type="text" class="form-control form-control-sm"
                                           th:field="*{arrangements[__${arrStat.index}__].archiveLocation}"
                                           th:value="${arr.archiveLocation}"/>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Song text -->
        <div class="form-row mb-3 border pt-2 px-2">
            <div class="form-group col">
                <h3>Sångtext</h3>
                <div class="form-row mb-1">
                    <textarea class="form-control" rows="10" id="songtext" th:field="*{text}"
                              th:value="${score.text}"></textarea>
                </div>

                <div class="form-row mb-2">
                    <button type="button" class="btn btn-sm btn-primary"
                            th:disabled="${doSongOcr}? ${!doSongOcr} : true"
                            th:data-parameter1="${score.id}"
                            th:onclick="doOCR(this.getAttribute('data-parameter1'))" id="ocr-button">
                        OCR
                    </button>
                    <button type="button" class="btn btn-sm btn-primary d-none" id="ocr-button-loading" disabled>
                        <span class="spinner-border spinner-border-sm" role="status"></span>
                        Processing ...
                    </button>
                </div>
            </div>
        </div>

        <!-- File management -->
        <div class="form-row mb-3 border pt-2 px-2">
            <div class="form-group col">
                <h3>Filhantering</h3>
                <table class="table table-sm table-borderless mb-0">
                    <tbody>
                    <tr th:each="file : ${score.getFiles()}">
                        <td th:text="${file.getName()} ? ${file.getName()} : ${file.getOriginalFilename()}"></td>
                        <td th:text="${file.getType()}"></td>
                        <td class="text-end">
                            <a th:href="@{viewFile(score_id=${score.id},file_id=${file.getId()})}">
                                <i class="bi-eye me-2"></i></a>
                            <a th:href="@{downloadFile(score_id=${score.id},file_id=${file.getId()})}">
                                <i class="bi-cloud-arrow-down me-2"></i></a>
                            <a th:href="@{deleteFile(file_id=${file.getId()})}"><i class="bi-trash"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <hr>
                <!-- Button trigger modal -->
                <div class="row mb-2">
                    <div class="col">
                        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                                data-bs-target="#uploadFile">
                            Lägg till fil
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal upload file -->
        <div class="modal fade" id="uploadFile" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
             aria-labelledby="uploadFileLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="uploadFileLabel">Ladda upp fil</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row mb-2">
                            <div class="col">
                                <input id="input-file" type="file" name="file"/>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-2">
                                <label>Typ</label>
                            </div>
                            <div class="col">
                                <select th:name="file_type">
                                    <option th:each="ft : ${T(se.terrassorkestern.notgen.model.NgFileType).values()}"
                                            th:value="${ft}"
                                            th:text="${ft}"/>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <label for="fileupload_name">Namn</label>
                            </div>
                            <div class="col">
                                <input id="fileupload_name" name="file_name" type="text"/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Avbryt</button>
                        <button type="submit" class="btn btn-primary" name="upload">Ladda upp</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal edit file -->
        <div class="modal fade" id="editFile" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
             aria-labelledby="editFileLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="editFileLabel">Ladda upp fil</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row mb-2">
                            <div class="col-2">
                                <label>Typ</label>
                            </div>
                            <div class="col">
                                <select th:name="file_type">
                                    <option th:each="ft : ${T(se.terrassorkestern.notgen.model.NgFileType).values()}"
                                            th:value="${ft}"
                                            th:text="${ft}"/>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <label for="fileupload_name">Namn</label>
                            </div>
                            <div class="col">
                                <input id="fileview_name" name="file_name" type="text"/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Avbryt</button>
                        <button type="submit" class="btn btn-primary" name="upload">Ladda upp</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Buttons -->
        <div class="form-group row mb-3">
            <div class="col-sm-10">
                <a class="btn btn-secondary me-2" th:href="@{view(id=${score.id})}">Avbryt</a>
                <button sec:authorize="hasAuthority('EDIT_SONG')" type="button" class="btn btn-danger me-2"
                        data-toggle="modal" data-target="#deleteModal">Ta bort
                </button>
                <input sec:authorize="hasAuthority('EDIT_SONG')" type="submit" class="btn btn-primary"
                       name="save"
                       value="Spara"/>
            </div>
        </div>
    </form>
</div>

<footer th:replace="~{fragments/general :: footer}"></footer>

<script type="text/javascript">
    window.onload = function () {

        const genres = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.whitespace,
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            prefetch: '/score/genres.json'
        });

        const composers = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.whitespace,
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            prefetch: '/score/composers.json'
        });

        const authors = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.whitespace,
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            prefetch: '/score/authors.json'
        });

        const arrangers = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.whitespace,
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            prefetch: '/score/arrangers.json'
        });

        const publishers = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.whitespace,
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            prefetch: '/score/publishers.json'
        });

        $('#prefetch-genres .typeahead').typeahead({
                highlight: true
            },
            {
                name: 'genres',
                source: genres
            });

        $('#prefetch-composers .typeahead').typeahead({
                highlight: true
            },
            {
                name: 'composers',
                source: composers
            });

        $('#prefetch-authors .typeahead').typeahead({
                highlight: true
            },
            {
                name: 'edit/authors',
                source: authors
            });

        $('#prefetch-arrangers .typeahead').typeahead({
                highlight: true
            },
            {
                name: 'edit/arrangers',
                source: arrangers
            });

        $('#prefetch-publishers .typeahead').typeahead({
                highlight: true
            },
            {
                name: 'edit/publishers',
                source: publishers
            });
    }
</script>

<script>
    function doOCR(id, songIds) {
        $('#ocr-button').addClass('d-none');
        $('#ocr-button-loading').removeClass('d-none')
        $.get('/score/edit/ocr', {id: id}, function (data) {
            $('#songtext').val(data);
            $('#ocr-button-loading').addClass('d-none');
            $('#ocr-button').removeClass('d-none');
        });
    }
</script>

</body>
</html>