<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="sv">
<head>
    <th:block th:replace="~{fragments/general :: header-css}"></th:block>
    <title>Redigera noter</title>
</head>

<body>
<div th:replace="~{fragments/general :: header}"></div>

<!-- Modal -->
<div class="modal" id="deleteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ta bort låt</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Vill du verkligen ta bort denna låt?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Avbryt</button>
                <a class="btn btn-danger" th:href="@{/score/delete(id=${score.id})}">Ta bort</a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h1>Redigera låt</h1>

    <form role="form" th:action="@{/score/save}" th:object="${score}" th:method="post">
        <input type="hidden" th:field="*{id}" th:value="${score.id}"/>

        <div class="row">
            <div class="col-md-9">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="title" th:field="*{title}"
                           th:value="${score.title}"/>
                    <span class="text-danger" th:if="${#fields.hasErrors('title')}"
                          th:errors="*{title}">Error</span>
                    <label for="title">Titel</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="subTitle" th:field="*{subTitle}"
                           th:value="${score.subTitle}"/>
                    <label for="subTitle">Subtitel</label>
                </div>
                <div class="row g-2">
                    <div class="col-md" id="prefetch-genres">
                        <div>
                            <label for="genre">Genre</label>
                            <input type="text" class="form-control typeahead" id="genre" autocomplete="off"
                                   th:field="*{genre}"
                                   th:value="${score.genre}"/>
                            <span class="text-danger" th:if="${#fields.hasErrors('genre')}"
                                  th:errors="*{genre}">Error</span>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating">
                            <input type="number" class="form-control" id="year" th:field="*{year}"
                                   th:value="${score.year}"/>
                            <label for="year">År</label>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-3" align="center">
                <figure class="figure">
                    <img class="figure-img img-fluid rounded" th:src="@{${score.getThumbnailPath()}}"/>
                </figure>
            </div>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control typeahead" id="composer" autocomplete="off"
                   th:field="*{composer}"
                   th:value="${score.composer}"/>
            <label for="composer">Kompositör</label>
        </div>
        <div class="mb-3" id="prefetch-authors">
            <label for="author">Författare</label>
            <input type="text" class="form-control typeahead" id="author" autocomplete="off"
                   th:field="*{author}"
                   th:value="${score.author}"/>
        </div>

        <div class="mb-3" id="prefetch-arrangers">
            <label for="arranger">Arrangör</label>
            <input type="text" class="form-control typeahead" id="arranger" autocomplete="off"
                   th:field="*{arranger}"
                   th:value="${score.arranger}" placeholder="arr"/>
        </div>
        <div class="mb-3" id="prefetch-publishers">
            <label for="publisher">Förlag</label>
            <input type="text" class="form-control typeahead" id="publisher" autocomplete="off"
                   th:field="*{publisher}"
                   th:value="${score.publisher}"/>
        </div>
        <div class="form-floating mb-3">
                <textarea class="form-control" rows="4" id="comment" th:field="*{comment}"
                          th:value="${score.comment}"></textarea>
            <label for="comment">Kommentar</label>
        </div>

        <div class="form-row">
            <div class="form-group col">
                <h3><label>Sättning</label></h3>
                <table class="table table-bordered table-sm">
                    <thead>
                    <tr>
                        <th scope="col" style="width:10%">Instrument</th>
                        <th scope="col" style="width:10%">Placering</th>
                        <th scope="col" style="width:10%">Antal</th>
                        <th scope="col" style="width:55%">Kommentar</th>
                        <th scope="col" style="width:15%">
                            <button sec:authorize="hasAuthority('EDIT_SONG')" class="btn btn-primary btn-sm"
                                    type="submit"
                                    name="addRow">Lägg till
                            </button>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="scorePart,rowStat : ${score.scoreParts}">
                        <td class="align-middle">
                            <select th:field="*{scoreParts[__${rowStat.index}__].instrument.id}">
                                <option th:each="i2 : ${allInstruments}" th:value="${i2.id}" th:text="${i2.name}">
                                    bla
                                </option>
                            </select>
                        </td>
                        <td>
                            <input type="number" class="form-control form-control-sm"
                                   th:field="*{scoreParts[__${rowStat.index}__].page}"
                                   th:value="${scorePart.page}"/>
                        </td>
                        <td>
                            <input type="number" class="form-control form-control-sm"
                                   th:field="*{scoreParts[__${rowStat.index}__].length}"
                                   th:value="${scorePart.length}"/>
                        </td>
                        <td>
                            <input type="text" class="form-control form-control-sm"
                                   th:field="*{scoreParts[__${rowStat.index}__].comment}"
                                   th:value="${scorePart.comment}"/>
                        </td>

                        <td class="align-middle">
                            <button sec:authorize="hasAuthority('EDIT_SONG')" class="btn btn-sm btn-danger"
                                    type="submit"
                                    name="deleteRow" th:value="${rowStat.index}">Ta bort
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="form-row mb-1">
            <label for="songtext" class="form-label">Sångtext</label>
            <textarea class="form-control" rows="10" id="songtext" th:field="*{text}"
                      th:value="${score.text}"></textarea>
        </div>
        <div class="form-row mb-3">
            <button type="button" class="btn btn-primary" th:disabled="${!doSongOcr}"
                    th:onclick="'doOCR(' + ${score.id} + ')'" id="ocr-button">
                OCR
            </button>
            <button type="button" class="btn btn-primary d-none" id="ocr-button-loading" disabled>
                <span class="spinner-border spinner-border-sm" role="status"></span>
                Processing ...
            </button>
        </div>

        <h3>Detaljer</h3>
        <div class="form-row border mb-3 p-2">
            <div class="form-group row">
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="scanned"
                               th:field="*{scanned}" th:value="${score.scanned}"/>
                        <label for="scanned" class="form-check-label">Inscannad</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="cover"
                               th:field="*{cover}" th:value="${score.cover}"/>
                        <label for="cover" class="form-check-label">Förstasida finns</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="color"
                               th:field="*{color}" th:value="${score.color}"/>
                        <label for="color" class="form-check-label">Förstasidan är i färg</label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">Scanningen är linjerad med övre vänstra hörnet
                            <input class="form-check-input" type="checkbox"
                                   th:field="*{upperleft}" th:value="${score.upperleft}"/>
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">Bildbehandla (beskär, fixa färger etc.)
                            <input class="form-check-input" type="checkbox"
                                   th:field="*{imageProcess}" th:value="${score.imageProcess}"/>
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">Scanningsklass
                            <select th:field="*{scoreType}">
                                <option th:each="st : ${T(se.terrassorkestern.notgen.model.ScoreType).values()}"
                                        th:value="${st}"
                                        th:text="${st.getShortDescription()}"/>
                            </select>
                        </label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check">
                        <label class="form-check-label">Original i arkivet
                            <input class="form-check-input" type="checkbox" th:field="*{archived}"
                                   th:value="${score.archived}"/>
                        </label>
                    </div>
                    <div class="form-group row">
                        <label for="archiveLocation" class="col-sm-6 col-form-label">Arkivplats</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="archiveLocation" th:field="*{archiveLocation}"
                                   th:value="${score.archiveLocation}"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="filename" class="col-sm-2 col-form-label">Filnamn</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="filename" th:field="*{filename}"
                                   th:value="${score.filename}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row mb-3">
            <div class="col-sm-10">
                <a class="btn btn-secondary" th:href="@{view(id=${score.id})}">Avbryt</a>
                <a class="btn btn-secondary" sec:authorize="hasAuthority('PRINT_SCORE')"
                   th:href="@{/print/getpdf(score_id=${score.id},instrument_id=2)}">Skriv ut</a>
                <button sec:authorize="hasAuthority('EDIT_SONG')" type="button" class="btn btn-danger"
                        data-toggle="modal" data-target="#deleteModal">Ta bort
                </button>
                <input sec:authorize="hasAuthority('EDIT_SONG')" type="submit" class="btn btn-primary"
                       value="Spara"/>
            </div>
        </div>
    </form>
</div>

<footer th:replace="~{fragments/general :: footer}"></footer>

<script type="text/javascript">
    window.onload = function () {

        const genres = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.whitespace,
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            prefetch: '/score/genres.json'
        });

        const composers = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.whitespace,
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            prefetch: '/score/composers.json'
        });

        const authors = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.whitespace,
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            prefetch: '/score/authors.json'
        });

        const arrangers = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.whitespace,
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            prefetch: '/score/arrangers.json'
        });

        const publishers = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.whitespace,
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            prefetch: '/score/publishers.json'
        });

        $('#prefetch-genres .typeahead').typeahead({
                highlight: true
            },
            {
                name: 'genres',
                source: genres
            });

        $('#prefetch-composers .typeahead').typeahead({
                highlight: true
            },
            {
                name: 'composers',
                source: composers
            });

        $('#prefetch-authors .typeahead').typeahead({
                highlight: true
            },
            {
                name: 'authors',
                source: authors
            });

        $('#prefetch-arrangers .typeahead').typeahead({
                highlight: true
            },
            {
                name: 'arrangers',
                source: arrangers
            });

        $('#prefetch-publishers .typeahead').typeahead({
                highlight: true
            },
            {
                name: 'publishers',
                source: publishers
            });
    }
</script>

<script>
    function doOCR(id, songIds) {
        $('#ocr-button').addClass('d-none');
        $('#ocr-button-loading').removeClass('d-none')
        $.get('/score/edit/ocr', {id: id}, function (data) {
            $('#songtext').val(data);
            $('#ocr-button-loading').addClass('d-none');
            $('#ocr-button').removeClass('d-none');
        });

    }
</script>

</body>
</html>