<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="sv">
<head>
    <th:block th:replace="~{fragments/general :: header-css}"></th:block>
    <title>Lista noter</title>
</head>

<body>
<div th:replace="~{fragments/general :: header}"></div>

<div class="container">
    <br>
    <table class="table table-bordered table-striped table-hover table-sm mb-2" aria-label="Score list" id="score_table">
        <thead>
        <tr>
            <th scope="col">Namn</th>
            <th scope="col">Genre</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr class="clickable-row" th:each="score : ${scores}" data-th-data-link="@{view/{id}(id=${score.id})}">
            <td th:utext="${score.title + (score.getArrangements().size() > 1 ? '    <b>x' + score.getArrangements().size() + '</b>' : '')}"></td>
            <td th:text="${score.genre}"></td>
            <td class="text-center"><span th:if="${score.isLinksPresent()}" class="bi-music-note-beamed"></span></td>
        </tr>
        </tbody>
    </table>

    <div class="row mb-3">
        <div class="col-auto">
            <a class="btn btn-secondary" onclick="history.back()">Tillbaka</a>
        </div>
        <div class="col-auto" sec:authorize="hasAuthority('EDIT_SONG')">
            <a class="btn btn-secondary" th:href="@{create}">Lägg till</a>
        </div>
    </div>
</div>


<footer th:replace="~{fragments/general :: footer}"></footer>
</body>

<script>
    jQuery(document).ready(function ($) {
        $(".clickable-row").click(function () {
            window.location = $(this).data("link");
        });
    });
</script>

</html>