<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="sv">
<head>
    <th:block th:replace="~{fragments/general :: header-css}"></th:block>
    <title>Visa noter</title>
</head>

<body onload="setPrintButton()">
<div th:replace="~{fragments/general :: header}"></div>

<script type="text/javascript" th:inline="javascript">
    function setPrintButton() {
        let setting_id = document.getElementById("setting").value;
        let score_id = /*[[${score.id}]]*/ 'bla';
        document.getElementById("print-button").href = "/print/getscore?score_id=" + score_id + "&setting_id=" + setting_id;
    }
</script>

<div class="container">
    <h1 th:text="${score.title}"/>

    <figure class="text-center">
        <a th:href="@{${score.getCoverPath()}}"><img class="figure-img img-fluid rounded"
                                                     th:src="@{${score.getThumbnailPath()}}" alt="thumbnail"/></a>
    </figure>

    <div class="row mb-3">
        <div clall="col">
            <table class="table table-sm table-borderless">
                <tbody>
                <tr th:if="${score.title}">
                    <td>Titel</td>
                    <td th:text="${score.title}"/>
                </tr>
                <tr th:if="${score.subTitle}">
                    <td>Subtitel</td>
                    <td th:text="${score.subTitle}"/>
                </tr>
                <tr th:if="${score.genre}">
                    <td>Genre</td>
                    <td th:text="${score.genre}"/>
                </tr>
                <tr th:if="${score.year}">
                    <td>År</td>
                    <td th:text="${score.year}"/>
                </tr>
                <tr th:if="${score.composer}">
                    <td>Kompositör</td>
                    <td th:text="${score.composer}"/>
                </tr>
                <tr th:if="${score.author}">
                    <td>Författare</td>
                    <td th:text="${score.author}"/>
                </tr>
                <tr th:if="${score.arranger}">
                    <td>Arrangör</td>
                    <td th:text="${score.arranger}"/>
                </tr>
                <tr th:if="${score.publisher}">
                    <td>Förlag</td>
                    <td th:text="${score.publisher}"/>
                </tr>
                <tr th:if="${score.comment}">
                    <td>Kommentar</td>
                    <td th:text="${score.comment}"/>
                </tr>
                <tr th:if="${score.internalComment}" sec:authorize="hasAnyRole('USER', 'ADMIN', 'SUPERADMIN')">
                    <td></td>
                </tr>
                <tr th:if="${score.internalComment}" sec:authorize="hasAnyRole('USER', 'ADMIN', 'SUPERADMIN')">
                    <td class="text-danger">Intern kommentar</td>
                    <td th:text="${score.internalComment}"/>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h3>Sättning</h3>
            <table class="table table-sm table-borderless table-striped table-hover">
                <tbody>
                <tr th:each="scorePart : ${score.scoreParts}"
                    th:data-link="@{/print/getscorepart(instrument_id=${scorePart.instrument.id},score_id=${score.id})}">
                    <td th:text="${scorePart.instrument.name}"/>
                    <td th:text="${scorePart.comment}"/>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row mb-3" th:if="${score.text}" sec:authorize="hasAnyRole('USER', 'ADMIN', 'SUPERADMIN')">
        <div class="col">
            <h3>Text</h3>
            <div th:text="${score.text}"/>
        </div>
    </div>

    <div class="row mb-3" sec:authorize="hasAuthority('EDIT_SONG')">
        <h3>Detaljer</h3>
        <div class="col">
            <input type="checkbox" th:checked="${score.scanned}" onclick="return false;"> Inscannad<br>
            <input type="checkbox" th:checked="${score.imageProcess}" onclick="return false;"> Bildbehandlas<br>
            <input type="checkbox" th:checked="${score.upperleft}" onclick="return false;"> Linjerad i hörn<br>
            Bildbehandling: <span th:text="${score.scoreType}?  ' [' + ${score.scoreType.getShortDescription()} + ']'"/>
            <br>
        </div>
        <div class="col">
            <input type="checkbox" th:checked="${score.cover}" onclick="return false;"> Omslag<br>
            <input type="checkbox" th:checked="${score.color}" onclick="return false;"> Omslag i färg<br>
            <input type="checkbox" th:checked="${score.archived}" onclick="return false;"> Original i arkivet
            <span th:text="${score.archived}?  ' [' + ${score.archiveLocation} + ']'"/> <br>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-auto">
            <a class="btn btn-secondary" th:href="@{list}">Tillbaka</a>
        </div>
        <div class="col-auto" sec:authorize="hasAuthority('PRINT_SCORE')">
            <div class="input-group">
                <a class="btn btn-secondary" id="print-button">Skriv ut</a>
                <select class="form-select form-select-sm" id="setting" onchange="setPrintButton()">
                    <option th:each="setting : ${settings}" th:value="${setting.id}" th:text="${setting.name}">bla
                    </option>
                </select>
            </div>
        </div>
        <div class="col-auto">
            <a class="btn btn-secondary" sec:authorize="hasAuthority('EDIT_SONG')"
               th:href="@{convert(id=${score.id})}">Uppdatera PDF</a>
        </div>
        <div class="col-auto">
            <a class="btn btn-secondary" sec:authorize="hasAuthority('EDIT_SONG')"
               th:href="@{edit(id=${score.id})}">Ändra</a>
        </div>
    </div>
</div>

<footer th:replace=" ~{fragments/general :: footer}"></footer>

</body>
<script>
    $(function () {
        $("table tbody tr").click(function (e) {
            window.location.href = $(this).data("link");
        });
    });
</script>
</html>