<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="sv">
<head>
    <th:block th:replace="~{fragments/general :: header-css}"></th:block>
    <title th:text="${score.title}">Visa noter</title>
</head>

<body onload="setPrintButton()">
<div th:replace="~{fragments/general :: header}"></div>

<script type="text/javascript" th:inline="javascript">
    function setPrintButton() {
        let setting_id = document.getElementById("setting").value;
        let score_id = /*[[${score.id}]]*/ 'bla';
        document.getElementById("print-button").href = "/print/getscore?score_id=" + score_id + "&setting_id=" + setting_id;
    }
</script>

<div class="container">
    <h1 th:text="${score.title}"/>

    <figure class="text-center">
        <a th:href="@{${score.getCoverPath()}}"><img class="figure-img img-fluid rounded"
                                                     th:src="@{${score.getThumbnailPath()}}"
                                                     th:alt="${score.title}"/></a>
    </figure>

    <!-- General info -->
    <div class="row mb-3 border p-2">
        <div class="col">
            <table class="table table-borderless table-sm mb-0" aria-label="General info">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${score.title}" th:unless="${score.title.isEmpty()}">
                    <td>Titel</td>
                    <td th:text="${score.title}"></td>
                </tr>
                <tr th:if="${score.subTitle}" th:unless="${score.subTitle.isEmpty()}">
                    <td>Subtitel</td>
                    <td th:text="${score.subTitle}"></td>
                </tr>
                <tr th:if="${score.genre}" th:unless="${score.genre.isEmpty()}">
                    <td>Genre</td>
                    <td th:text="${score.genre}"></td>
                </tr>
                <tr th:if="${score.year}">
                    <td>År</td>
                    <td th:text="${score.year}"></td>
                </tr>
                <tr th:if="${score.composer}" th:unless="${score.composer.isEmpty()}">
                    <td>Kompositör</td>
                    <td th:text="${score.composer}"></td>
                </tr>
                <tr th:if="${score.author}" th:unless="${score.author.isEmpty()}">
                    <td>Författare</td>
                    <td th:text="${score.author}"></td>
                </tr>
                <tr th:if="${score.arranger}" th:unless="${score.arranger.isEmpty()}">
                    <td>Arrangör</td>
                    <td th:text="${score.arranger}"></td>
                </tr>
                <tr th:if="${score.publisher}" th:unless="${score.publisher.isEmpty()}">
                    <td>Förlag</td>
                    <td th:text="${score.publisher}"></td>
                </tr>
                <tr th:if="${score.comment}" th:unless="${score.comment.isEmpty()}">
                    <td>Kommentar</td>
                    <td th:text="${score.comment}"></td>
                </tr>
                <tr th:if="${score.internalComment}" th:unless="${score.internalComment.isEmpty()}"
                    sec:authorize="hasAnyRole('USER', 'ADMIN', 'SUPERADMIN')">
                    <td class="text-danger">Intern kommentar</td>
                    <td class="text-danger" th:text="${score.internalComment}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Arrangement -->
    <div class="row mb-3 border pt-2 px-2" th:unless="${score.getArrangements().isEmpty()}">
        <h3>Sättning</h3>
        <div th:if="${score.getArrangements().size() == 1}">
            <table class="table table-sm table-borderless table-striped" aria-label="Arrangements">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr class="clickable-row" th:each="arrPart : ${score.getArrangements().get(0).getArrangementParts()}"
                    data-th-data-link="@{/print/arrangement(score_id=${score.id},instrument_id=${arrPart.instrument.id})}">
                    <td th:text="${arrPart.instrument.name}"/>
                    <td th:text="${arrPart.comment}"/>
                </tr>
                </tbody>
            </table>
        </div>

        <div th:if="${score.getArrangements().size() > 1}">
            <ul class="nav nav-tabs" id="arrTabs" role="tablist">
                <li class="nav-item" role="none"
                    th:each="arr, i : ${score.getArrangements()}">
                    <button class="nav-link" th:classappend="${i.index == 0} ? 'active'"
                            th:id="'tab-' + ${arr.getId()}" data-bs-toggle="tab"
                            th:data-bs-target="'#pane-' + ${arr.getId()}"
                            type="button" role="tab"
                            th:aria-controls="'tab-pane-' + ${arr.getId()}"
                            th:aria-selected="${i.index == 0} ? 'true' : 'false'"
                            th:text="${arr.getName()}">
                    </button>
                </li>
            </ul>
            <div class="tab-content" id="arrContent">
                <div class="tab-pane" th:classappend="${i.index == 0} ? 'show active'"
                     th:id="'pane-' + ${arr.getId()}" role="tabpanel"
                     th:aria-labelledby="'tab-' + ${arr.getId()}"
                     th:each="arr, i : ${score.getArrangements()}">
                    <div class="alert alert-info" th:text="${arr.getComment()}"
                         th:if="${arr.getComment()}"/>
                    <table class="table table-sm table-borderless table-striped" aria-label="Arrangements">
                        <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="arrPart : ${arr.getArrangementParts()}">
                            <td th:text="${arrPart.instrument.name}"/>
                            <td th:text="${arrPart.comment}"/>
                            <td class="text-end" sec:authorize="hasAnyRole('USER', 'ADMIN', 'SUPERADMIN')">
                                <a th:href="@{/print/arrangement(score_id=${score.id},arrangement_id=${arr.getId()},instrument_id=${arrPart.instrument.id})}">
                                    <i class="bi-eye"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Song text -->
    <div class="row mb-3 border p-2" th:if="${score.text}" th:unless="${score.text.isEmpty()}">
        <div class="col">
            <h3>Text</h3>
            <div class="height-auto overflow-auto" style="white-space:pre"
                 th:text="${score.text}"/>
        </div>
    </div>

    <!-- Media links -->
    <div class="row mb-3 border p-2"
         th:if="${score.getLinks}" th:unless="${score.getLinks.isEmpty()}">
        <div class="col">
            <h3>Media</h3>
            <table class="table table-sm table-borderless mb-0" aria-label="Media">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="link : ${score.getLinks()}">
                    <td th:text="${link.getName()}"></td>
                    <td th:text="${link.getType().getShortDescription()}"></td>
                    <td th:text="${link.getComment()}"></td>
                    <td class="text-end">
                        <a th:href="${link.getUri()}">
                            <i class="bi-eye me-2"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Files -->
    <div class="row mb-3 border p-2" sec:authorize="hasAuthority('EDIT_SONG')"
         th:if="${score.files}" th:unless="${score.files.isEmpty()}">
        <div class="col">
            <h3>Filer</h3>
            <table class="table table-sm table-borderless mb-0" aria-label="Files">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="file : ${score.getFiles()}">
                    <td th:text="${file.getName()} ? ${file.getName()} : ${file.getOriginalFilename()}"></td>
                    <td th:text="${file.getType().getShortDescription()}"></td>
                    <td class="text-end">
                        <a th:href="@{viewFile(score_id=${score.id},file_id=${file.getId()})}">
                            <i class="bi-eye me-2"></i></a>
                        <a th:href="@{downloadFile(score_id=${score.id},file_id=${file.getId()})}">
                            <i class="bi-cloud-arrow-down"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Buttons -->
    <div class="row mb-3">
        <div class="col-auto mb-2">
            <a class="btn btn-secondary" onclick="history.back()">Tillbaka</a>
        </div>
        <div class="col-auto" sec:authorize="hasAuthority('PRINT_SCORE')">
            <div class="input-group">
                <a class="btn btn-primary" id="print-button">Skriv ut</a>
                <select class="form-select form-select-sm" id="setting"
                        onchange="setPrintButton()">
                    <option th:each="setting : ${settings}" th:value="${setting.id}"
                            th:text="${setting.name}">
                        bla
                    </option>
                </select>
            </div>
        </div>
        <div class="col-auto">
            <a class="btn btn-primary" sec:authorize="hasAuthority('EDIT_SONG')"
               th:href="@{convert(id=${score.id})}">Uppdatera PDF</a>
        </div>
        <div class="col-auto">
            <a class="btn btn-primary" sec:authorize="hasAuthority('EDIT_SONG')"
               th:href="@{edit(id=${score.id})}">Ändra</a>
        </div>
    </div>
</div>

<footer th:replace=" ~{fragments/general :: footer}"></footer>

</body>

<script>
    jQuery(document).ready(function ($) {
        $(".clickable-row").click(function () {
            window.location = $(this).data("link");
        });
    });
</script>

</html>