<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="sv">
<head>
    <th:block th:replace="~{fragments/general :: header-css}"></th:block>
    <title>Skriv ut noter</title>
</head>

<body>
<div th:replace="~{fragments/general :: header}"></div>

<script type="text/javascript">
    function gotopage(selval) {
        var value = selval.options[selval.selectedIndex].value;
        window.location.href = "instrument?id=" + value;
    }
</script>

<div class="container">
    <h1>Skriv ut enstaka noter</h1>

    <div class="form-group">
        <label for="instrument" th:text="#{instrument}">Instrument</label>
        <select class="form-select" id="instrument" onchange="gotopage(this)">
            <option th:each="i : ${instruments}" th:value="${i.id}" th:text="${i.name}"
                    th:selected="${i.id} == ${selectedInstrument} ? true : false">bla
            </option>
        </select>
    </div>

    <br>
    <table class="table table-bordered table-striped table-hover table-sm" aria-label="instruments">
        <thead>
        <tr>
            <th scope="col">Namn</th>
            <th scope="col">Genre</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="score : ${scores}"
            th:data-link="@{arrangementPart(instrument_id=${selectedInstrument},score_id=${score.id})}" data-target="_BLANK">
            <td th:text="${score.title}"></td>
            <td th:text="${score.genre}"></td>
        </tr>
        </tbody>
    </table>
</div>


<footer th:replace="~{fragments/general :: footer}"></footer>
</body>

<script>
    $(function () {
        $("table tbody tr").click(function (e) {
            let u = $(this).data("link");
            let t = $(this).data("target");
            console.log(u, t);
            if (t.length) {
                window.open(u, t);
            } else {
                window.location.href = u;
            }
        });
    });
</script>

</html>