<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="sv">
<head>
    <th:block th:replace="~{fragments/general :: header-css}"></th:block>
    <title>Skriv ut noter</title>
</head>

<body>
<div th:replace="~{fragments/general :: header}"></div>

<script type="text/javascript">
    function gotopage(selval) {
        let value = selval.options[selval.selectedIndex].value;
        window.location.href = "setting?id=" + value;
    }
</script>

<div class="container">
    <h1>Skriv ut hela arr</h1>

    <div class="form-group">
        <label for="setting" th:text="#{setting}">Sättning</label>
        <select class="form-select" id="setting" onchange="gotopage(this)">
            <option th:each="s : ${settings}" th:value="${s.id}" th:text="${s.name}"
                    th:selected="${s.id} == ${selectedSetting} ? true : false"/>
        </select>
        <small class="form-text text-muted">Noterna som listas nedan innehåller minst ett av instrumenten i den valda
            sättningen.</small>
    </div>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="allIncluded">
        <label class="form-check-label" for="allIncluded">Visa bara låtar där <b>alla</b> instrument i sättningen finns.</label>
    </div>

    <p/>

    <table class="table table-bordered table-striped table-hover table-sm" aria-label="scores">
        <thead>
        <tr>
            <th scope="col">Namn</th>
            <th scope="col">Genre</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="score : ${scores}"
            th:data-link="@{getscore(setting_id=${selectedSetting},score_id=${score.id})}" data-target="_BLANK">
            <td th:text="${score.title}"></td>
            <td th:text="${score.genre}"></td>
        </tr>
        </tbody>
    </table>
</div>


<footer th:replace="~{fragments/general :: footer}"></footer>
</body>

<script>
    $(function () {
        $("table tbody tr").click(function (e) {
            var u = $(this).data("link");
            var t = $(this).data("target");
            console.log(u, t);
            if (t.length) {
                window.open(u, t);
            } else {
                window.location.href = u;
            }
        });
    });
</script>

</html>