<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="sv">
<head>
    <th:block th:replace="fragments/general :: header-css"></th:block>
    <title>Redigera användare</title>
</head>

<body>
<div th:replace="fragments/general :: header"></div>

<div class="container">
    <h1>Redigera användare</h1>

    <form role="form" autocomplete="off" th:action="@{/user/save}" th:object="${user}" th:method="post">

        <p class="text-danger" th:if="${#fields.hasGlobalErrors()}" th:each="error : ${#fields.errors('global')}"
           th:text="${error}">Validation error</p>

        <div sec:authorize="hasRole('ROLE_ADMIN')" class="row">
            <div class="form-group col">
                <label for="username">Användarnamn</label>
                <input type="text" class="form-control" th:field="*{username}" th:value="${user.username}"
                       id="username"/>
                <span class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Error</span>
            </div>
        </div>

        <input sec:authorize="!hasRole('ROLE_ADMIN')" type="hidden" th:field="*{username}" th:value="${user.username}"/>

        <div class="row">
            <div class="form-group col">
                <label for="fullname">Namn</label>
                <input type="text" class="form-control" th:field="*{fullname}" th:value="${user.fullname}"
                       id="fullname"/>
                <span class="text-danger" th:if="${#fields.hasErrors('fullname')}" th:errors="*{fullname}">Error</span>
            </div>
        </div>

        <div class="row">
            <div class="form-group col">
                <label for="email">E-post</label>
                <input type="text" class="form-control" th:field="*{email}" th:value="${user.email}" id="email"/>
                <span class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error</span>
            </div>
        </div>

        <div class="row">
            <div class="form-group col">
                <label for="password">Lösenord</label>
                <input type="password" class="form-control" th:field="*{password}" th:value="${user.password}"
                       id="password"/>
                <span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Error</span>
            </div>
        </div>

        <div class="form-group row">
            <div class="form-group col">
                <label for="matchingPassword">Upprepa lösenord</label>
                <input type="password" class="form-control" th:field="*{matchingPassword}"
                       th:value="${user.matchingPassword}" id="matchingPassword"/>
                <span class="text-danger" th:if="${#fields.hasErrors('matchingPassword')}"
                      th:errors="*{matchingPassword}">Error</span>
            </div>
        </div>

        <div sec:authorize="hasRole('ROLE_ADMIN')" class="row">
            <div class="col">Roll & behörighet</div>
            <div class="col"></div>
        </div>
        <input sec:authorize="!hasRole('ROLE_ADMIN')" type="hidden" th:field="*{enabled}" th:value="${user.enabled}"/>

        <div class="row">
            <div class="col">
                <a class="btn btn-secondary" th:href="@{list}">Tillbaka</a>
                <input type="submit" class="btn btn-primary" value="Spara"/>
            </div>
        </div>
    </form>
</div>

<footer th:replace="fragments/general :: footer"></footer>
</body>
</html>