<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="sv">
<head>
    <th:block th:replace="~{fragments/general :: header-css}"></th:block>
    <title>Redigera användare</title>
</head>

<body>
<div th:replace="~{fragments/general :: header}"></div>

<div class="container">
    <h1>Redigera användare</h1>

    <form class="needs-validation" autocomplete="off" th:action="@{/user/save}" th:object="${user}" th:method="post">
        <input type="hidden" th:field="*{id}" th:value="${user.id}"/>

        <p class="text-danger" th:if="${#fields.hasGlobalErrors()}" th:each="error : ${#fields.errors('global')}"
           th:text="${error}">Validation error</p>

        <div class="form-floating mb-3" sec:authorize="hasRole('ROLE_ADMIN')" th:unless="${user.isRemoteUser()}">
            <input type="text" class="form-control" th:field="*{username}" th:value="${user.username}"
                   id="username"/>
            <label class="form-label" for="username">Användarnamn</label>
            <span class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Error</span>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" th:field="*{fullName}" th:value="${user.fullName}" id="fullname"
                   th:disabled="${user.isRemoteUser()}" required/>
            <label class="form-label" for="fullName">Namn</label>
            <span class="text-danger" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">Error</span>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" th:field="*{displayName}" th:value="${user.displayName}"
                   id="displayName"/>
            <label class="form-label" for="displayName">Visningsnamn</label>
            <span class="text-danger" th:if="${#fields.hasErrors('displayName')}"
                  th:errors="*{displayName}">Error</span>
        </div>

        <div class="form-floating mb-3">
            <input type="email" class="form-control" th:field="*{email}" th:value="${user.email}" id="email"
                   th:disabled="${user.isRemoteUser()}" required/>
            <label class="form-label" for="email">E-post</label>
            <span class=" text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error</span>
        </div>

        <div class="form-floating mb-3" th:unless="${user.isRemoteUser()}">
            <input type="password" class="form-control" th:field="*{password}" th:value="${user.password}"
                   id="password"/>
            <label class="form-label" for="password">Lösenord</label>
            <span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Error</span>
        </div>

        <div class="form-floating mb-3" th:unless="${user.isRemoteUser()}">
            <input type="password" class="form-control" th:field="*{matchingPassword}"
                   th:value="${user.matchingPassword}" id="matchingPassword"/>
            <label class="form-label" for="matchingPassword">Upprepa lösenord</label>
            <span class="text-danger" th:if="${#fields.hasErrors('matchingPassword')}"
                  th:errors="*{matchingPassword}">Error</span>
        </div>

        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <h3>Roll & behörighet</h3>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" th:value="${user.enabled}" th:field="*{enabled}" id="enabled">
                <label class="form-check-label" for="enabled">Aktiv</label>
            </div>
        </div>

        <div class="row gy-2 mb-3">
            <div class="col-auto">
                <a class="btn btn-secondary" th:href="@{/}">Tillbaka</a>
            </div>
            <div class="col-auto">
                <input type="submit" class="btn btn-primary" value="Spara"/>
            </div>
        </div>
    </form>
</div>

<footer th:replace="~{fragments/general :: footer}"></footer>
</body>
</html>