<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="sv">
<head>
    <th:block th:replace="~{fragments/general :: header-css}"></th:block>
    <title>Lista användare</title>
</head>

<body>
<div th:replace="~{fragments/general :: header}"></div>

<div class="container">
    <h2>Användare</h2>
    <table class="table table-bordered table-striped table-hover table-sm">
        <thead>
        <tr>
            <th>Användarnamn</th>
            <th>Visningsnamn</th>
            <th>Namn</th>
            <th>Band</th>
            <th>Aktiv</th>
            <th>Roll</th>
            <th>Provider</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}" th:data-link="@{edit(id=${user.id})}">
            <td th:text="${user.username}"></td>
            <td th:text="${user.getDisplayName()}"></td>
            <td th:text="${user.getFullName()}"></td>
            <td th:text="${user.getBandNames()}"></td>
            <td><input type="checkbox" th:checked="${user.enabled}" ? 'checked' /></td>
            <td th:text="${user.role} ? ${user.role.displayName} : ''"></td>
            <td th:text="${user.getProvider()}"></td>
        </tr>
        </tbody>
    </table>

    <div>
        <div class="row gy-2 mb-3">
            <div class="col-auto" sec:authorize="hasAuthority('EDIT_USER')">
                <a class="btn btn-secondary" th:href="@{/admin}">Tillbaka</a>
            </div>
            <div class="col-auto">
                <a class="btn btn-secondary" th:href="@{create}">Lägg till</a>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{fragments/general :: footer}"></footer>
</body>

<script>
    $(function () {
        $("table tbody tr").click(function (e) {
            window.location.href = $(this).data("link");
        });
    });
</script>

</html>