<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="sv">
<head>
    <th:block th:replace="fragments/general :: header-css"></th:block>
    <title>Redigera låtlista</title>
</head>

<body>
<div th:replace="fragments/general :: header"></div>

<!-- Modal -->
<div class="modal" id="deleteModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ta bort låtlista</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Vill du verkligen ta bort denna låtlista?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Avbryt</button>
                <a class="btn btn-danger" th:href="@{/playlist/delete(id=${playlist.id})}">Ta bort</a>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <h1>Redigera låtlista</h1>

    <form role="form" th:action="@{/playlist/save}" th:object="${playlist}" th:method="post" id="editPlaylist">
        <input type="hidden" th:field="*{id}" th:value="${playlist.id}"/>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" th:field="*{name}" th:value="${playlist.name}" id="name"/>
            <span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</span>
            <label for="name" th:text="#{name}">name</label>
        </div>

        <div class="form-floating mb-3">
            <select class="form-control" id="setting" th:field="*{setting}">
                <option th:each="s : ${settings}" th:value="${s.id}" th:text="${s.name}">bla</option>
            </select>
            <label for="setting" th:text="#{setting}">setting</label>
        </div>

        <div class="form-floating mb-3">
            <input type="date" class="form-control" th:field="*{date}" th:value="${playlist.date}" id="date"/>
            <span class="text-danger" th:if="${#fields.hasErrors('date')}" th:errors="*{date}">Error</span>
            <label for="date" th:text="#{date}">date</label>
        </div>

        <div class="form-floating mb-3">
            <textarea class="form-control" th:field="*{comment}" th:value="${playlist.comment}"
                      id="comment"></textarea>
            <label for="comment" th:text="#{comment}">comment</label>
        </div>

        <div class="row">
            <div class="form-group col">
                <h2><label>Låtar</label></h2>
                <table class="table table-bordered table-sm">
                    <thead>
                    <tr>
                        <th scope="col">Låt</th>
                        <th scope="col">Fet</th>
                        <th scope="col">Kommentar</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="playlistEntry,rowStat : ${playlist.playlistEntries}">
                        <td>
                            <div id="prefetch">
                                <input type="text" class="form-control form-control-sm typeahead" autocomplete="off"
                                       th:field="*{playlistEntries[__${rowStat.index}__].text}"
                                       th:value="${playlistEntry.text}"/>
                            </div>
                        </td>
                        <td>
                            <div class="form_check form-check-inline">
                                <input type="checkbox" class="form-check-input"
                                       th:field="*{playlistEntries[__${rowStat.index}__].bold}"
                                       th:value="${playlistEntry.bold}"/>
                            </div>
                        </td>
                        <td>
                            <input type="text" class="form-control form-control-sm"
                                   th:field="*{playlistEntries[__${rowStat.index}__].comment}"
                                   th:value="${playlistEntry.comment}"/>
                        </td>
                        <td class="align-middle">
                            <input type="hidden"
                                   class="form-control" th:field="*{playlistEntries[__${rowStat.index}__].sortOrder}"
                                   th:value="${playlistEntry.sortOrder}"/>
                            <button sec:authorize="hasAuthority('EDIT_PLAYLIST')"
                                    class="btn btn-sm btn-danger icon-save"
                                    type="submit" name="deleteRow" th:value="${rowStat.index}"><i class="bi-trash"></i>
                            </button>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-auto">
                <button sec:authorize="hasAuthority('EDIT_PLAYLIST')" class="btn btn-primary" type="submit"
                        name="addRow">
                    Lägg till låt/rad
                </button>
            </div>
        </div>

        <div>
            <div class="row gy-2 mb-3">
                <div class="col-auto">
                    <a class="btn btn-secondary" th:href="@{view(id=${playlist.id})}">Avbryt</a>
                </div>
                <div class="col-auto">
                    <input sec:authorize="hasAuthority('EDIT_PLAYLIST')" type="submit" class="btn btn-primary"
                           value="Spara"/>
                </div>
            </div>
        </div>
    </form>
</div>

<footer th:replace="fragments/general :: footer"></footer>
<script type="text/javascript">
    window.onload = function () {

        var scores = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.whitespace,
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            prefetch: '../score/scores.json'
        });

        $('#prefetch .typeahead').typeahead({
                highlight: true
            },
            {
                name: 'Songs',
                source: scores,
                limit: 10
            });
    }


</script>

<script>
    $(function () {
        $("table tbody").sortable({
            update: function (event, ui) {
                $(this).children().each(function (index) {
                    $(this).find('td').last().find('input').val(index + 1)
                });
            }
        });
    });


</script>

</body>
</html>