<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="sv">
<head>
    <th:block th:replace="~{fragments/general :: header-css}"></th:block>
    <title>Visa låtlista</title>
</head>

<body>
<div th:replace="~{fragments/general :: header}"></div>

<script type="text/javascript" th:inline="javascript">
    function setPrintButton() {
        let instrument_id = document.getElementById("instrument").value;
        let playlist_id = /*[[${playlist.id}]]*/ 'bla';
        document.getElementById("print-button").href = "/print/playlist?playlist_id=" + playlist_id + "&instrument_id=" + instrument_id;
    }
</script>

<!-- Modal -->
<div class="modal" id="deleteModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ta bort låtlista</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Vill du verkligen ta bort denna låtlista?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Avbryt</button>
                <a class="btn btn-danger" th:href="@{/playlist/delete(id=${playlist.id})}">Ta bort</a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h1 th:text="${playlist.name}"/>

    <table class="table table-sm table-borderless" aria-label="general info">
        <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${playlist.name}">
            <td>Namn</td>
            <td th:text="${playlist.name}"/>
        </tr>
        <tr th:if="${playlist.setting}">
            <td>Sättning</td>
            <td th:text="${playlist.setting.name}"/>
        </tr>
        <tr th:if="${playlist.date}">
            <td>Datum</td>
            <td th:text="${playlist.date}"/>
        </tr>
        <tr th:if="${playlist.comment}">
            <td>Kommentar</td>
            <td th:text="${playlist.comment}"/>
        </tr>
        <tr th:if="${playlist.comment}">
            <td>Antal låtar</td>
            <td th:text="${playlist.numberOfSongs()}"/>
        </tr>
        <tr th:if="${playlist.getLastModifiedBy()}">
            <td>Uppdaterad</td>
            <td th:text="${#dates.format(playlist.lastModifiedDate, 'yyyy-MM-dd HH:mm')} + ' av ' + ${playlist.getLastModifiedBy()}"/>
        </tr>
        </tbody>
    </table>

    <h3>Låtar</h3>
    <table class="table table-sm" aria-label="playlist entries">
        <thead>
        <tr>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="playListentry : ${playlist.playlistEntries}">
            <td th:class="${playListentry.bold}? 'fw-bold text-center'" th:text="${playListentry.text}"/>
            <td th:text="${playListentry.comment}"/>
        </tr>
        </tbody>
    </table>

    <br>

    <div class="row gy-2 mb-3">
        <div class="col-auto">
            <a class="btn btn-secondary" onclick="history.back()">Tillbaka</a>
        </div>
        <div class="col-auto">
            <a class="btn btn-primary" th:href="@{createPdf(id=${playlist.id})}">Skriv ut</a>
        </div>
        <div class="col-auto">
            <a class="btn btn-secondary" sec:authorize="hasAuthority('EDIT_PLAYLIST')"
               th:href="@{edit(id=${playlist.id})}">Ändra</a>
        </div>
        <div class="col-auto">
            <a class="btn btn-secondary" sec:authorize="hasAuthority('EDIT_PLAYLIST')"
               th:href="@{create}">Skapa</a>
        </div>
        <div class="col-auto">
            <a class="btn btn-secondary" sec:authorize="hasAuthority('EDIT_PLAYLIST')"
               th:href="@{copy(id=${playlist.id})}">Kopiera</a>
        </div>
        <div class="col-auto">
            <button sec:authorize="hasAuthority('EDIT_PLAYLIST')" type="button" class="btn btn-danger"
                    data-bs-toggle="modal" data-bs-target="#deleteModal">Ta bort
            </button>
        </div>
    </div>
    <div class="row gy-2 mb-3">
        <div class="col-auto" sec:authorize="hasAuthority('PRINT_SCORE')">
            <div class="input-group">
                <a class="btn btn-secondary" id="print-button">Skriv ut noter</a>
                <select class="form-select form-select-sm" id="instrument" onchange="setPrintButton()">
                    <option th:each="instrument : ${instruments}" th:value="${instrument.id}"
                            th:text="${instrument.name}"/>
                </select>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{fragments/general :: footer}"></footer>

</body>
</html>