<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="sv">
<head>
    <th:block th:replace="~{fragments/general :: header-css}"></th:block>
    <title>Notgeneratorn</title>
</head>

<body>
<div th:replace="~{fragments/general :: header}"></div>

<div class="container">

    <h1>Om Notgeneratorn</h1>

    <p>Notgeneratorn är ett program som hanterar noter!</p>

    <p>Mer info om programmet, inklusive källkod finns på <a href="https://github.com/martin67/notgen">GitHub</a>.</p>

    <p>Lite spännande statistik hittar du <a th:href="@{/statistics}">här</a>.</p>

    <p>Om det är något som inte fungerar eller som du tycker skall ändras, använd då följande <a
            href="https://github.com/martin67/notgen/issues">länk</a>.</p>

    <p>Kontakt: <a href="mailto:martin@terrassorkestern.se">martin@terrassorkestern.se</a></p>

    <h5>Aktuell version</h5>
    <div class="alert alert-primary" role="alert">Tyvärr är det lite strul med att få in rätt version här, så detta
        gäller inte...
    </div>
    <ul>
        <li th:text="|Build: ${@environment.getProperty('git.commit.id.abbrev')}|"/>
        <li th:text="|Time: ${@environment.getProperty('git.commit.time')}|"/>
    </ul>
</div>

<footer th:replace="~{fragments/general :: footer}"></footer>
</body>
</html>