<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="sv">
<head>
    <th:block th:replace="fragments/general :: header-css"></th:block>
    <title>Administration</title>
</head>

<body>
<div th:replace="fragments/general :: header"></div>

<div class="container">
    <h2>Administration av notgeneratorn</h2>

    <ul class="list-group">
        <li sec:authorize="hasAuthority('EDIT_ORGANIZATION')" class="list-group-item"><a
                th:href="@{/organization/list}">Band</a></li>
        <li class="list-group-item"><a th:href="@{/user/list}">Användare</a></li>
        <li class="list-group-item"><a th:href="@{/instrument/list}">Instrument</a></li>
        <li class="list-group-item"><a th:href="@{/setting/list}">Sättningar</a></li>
    </ul>

    <br>
    <a href="/admin/noteCreate" class="btn btn-info" role="button">Skapa alla noter</a>
    <a href="/admin/imageExtract" class="btn btn-info" role="button">Uppdatera imagedata</a>
</div>

<footer th:replace="fragments/general :: footer"></footer>
</body>
</html>