<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/general :: header-css"></head>

<body>
<div th:replace="fragments/general :: header"></div>

<div class="container">

    <h1 th:text="#{home.title}">Terrassorkesterns Notgenerator 2.0</h1>

    <p th:text="#{home.welcome}">Välkommen</p>

    <p>Fantastiskt, eller hur?</p>

    <div class="col-6 text-center mx-auto">
        <img class="img-fluid" th:src="@{/images/Tork02cover.png}"/>

    </div>
</div>

<footer th:replace="fragments/general :: footer"></footer>
</body>
</html>