<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/general :: header-css"/>

<body>
<div th:replace="fragments/general :: header"/>

<div class="container-fluid">

    <div class="starter-template">
        <h1>Terrassorkesterns Notgenerator 2.0</h1>

        <p>Välkommen till den nya notgeneratorn. Här kan du både skapa snygga PDF:er i alla olika tappningar men även
            lägga till, ta bort och ändra i notdatabasen.</p>

        <p>Fantastiskt, eller hur?</p>
    </div>

    <img th:src="@{/images/Tork02cover.png}"/>
</div>

<footer th:replace="fragments/general :: footer"/>
</body>
</html>