<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/general :: header-css"/>

<body>
<div th:replace="fragments/general :: header"/>

<div class="container-fluid">
    <h1>Instrumentdetaljer</h1>

    <form role="form" th:action="@{/instrument/save}" th:object="${instrument}" th:method="post">
        <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="id">ID</label>
            <div class="col-sm-9">
                <input type="number" readonly class="form-control-plaintext" th:field="*{id}" th:value="${instrument.id}" id="id"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="name">Namn</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" th:field="*{name}" th:value="${instrument.name}" id="name"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="shortName">Förkortning</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" th:field="*{shortName}" th:value="${instrument.shortName}"
                   id="shortName"/>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-3">Standard</div>
            <div class="col-sm-9">
                <div class="form_check">
                    <input class="form-check-input" type="checkbox" th:field="*{standard}" th:value="${instrument.standard}"/>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="sortOrder">Sorteringsordning</label>
            <div class="col-sm-9">
                <input type="number" class="form-control" th:field="*{sortOrder}" th:value="${instrument.sortOrder}"
                   id="sortOrder"/>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-9">
                <button type="reset" class="btn btn-default">Avbryt</button>
                <a class="btn btn-danger" th:href="@{/instrument/delete(id=${instrument.id})}">Ta bort</a>
                <input type="submit" class="btn btn-primary" value="Spara"/>
            </div>
        </div>
    </form>
</div>

<footer th:replace="fragments/general :: footer"/>
</body>
</html>