<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="header :: header-css"/>

    <title>Instrument</title>
</head>
<body>
<div th:replace="header :: header"/>

<div class="container-fluid">
    <br>
    <table class="table table-bordered table-striped table-hover table-sm">
        <thead>
        <tr>
            <th>Namn</th>
            <th>Förkortning</th>
            <th>Standard</th>
            <th>Ordning</th>
            <th>Action</th>
        </tr>
        </thead>

        <tr th:each="instrument : ${instruments}">
            <td th:text="${instrument.name}"></td>
            <td th:text="${instrument.shortName}"></td>
            <td><input type="checkbox" th:checked="${instrument.standard}" ? 'checked'></td>
            <td th:text="${instrument.sortOrder}"></td>
            <td>
                <a th:href="@{/instrument/edit(id=${instrument.id})}"><i class="material-icons">mode_edit</i></a>
                <a th:href="@{/instrument/delete(id=${instrument.id})}"><i class="material-icons">delete</i></a>
            </td>
        </tr>
    </table>
</div>
<div th:replace="footer :: footer"/>
</body>
</html>