<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="sv">
<head>
    <th:block th:replace="fragments/general :: header-css"></th:block>
    <title>Generera noter</title>
</head>

<body onload="connect()">
<div th:replace="fragments/general :: header"></div>

<div class="container">

    <h1>Generera noter</h1>
    <p>Här kan du generera nya PDF-noter till Terrassorkesterns Google Drive. Antingen så väljer du alla
        låtar (standard) eller så markerar du i listan vilka det gäller.
    </p>
    <p>Det tar 2-3 minuter att konvertera en låt och skall man ta och konvertera alla (+400 stycken), så tar det
        följaktligen över 12 timmar.
    </p>
    <form action="#" th:action="@{/noteConverter/convert}" th:object="${noteConverterDto}" method="post">

        <div class="form-group">
            <label for="sel1"></label>
            <select multiple class="form-control" th:field="*{selectedScores}" id="sel1">
                <option th:each="score : ${scores}"
                        th:value="${score.id}"
                        th:text="${score.title}"></option>
            </select>
        </div>

        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" th:field="*{allScores}" value="" checked>Konvertera alla
                låtar
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" th:field="*{upload}" value="" checked>Ladda upp till
                Google
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" th:field="*{async}" value="">Flera trådar
            </label>
        </div>
        <br>
        <button class="btn btn-primary" type="submit" name="convertNotes">Generera noter!</button>
        <button class="btn btn-primary" type="submit" name="createPacks">Skapa instrumentpacks!</button>
    </form>

    <br>
    <hr>

    <div class="progress">
        <div id="totalProgressBar" class="progress-bar" role="progressbar"
             aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
        </div>
    </div>
    <br>
    <div class="progress">
        <div id="progressBar" class="progress-bar" role="progressbar"
             aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
        </div>
    </div>

    <div class="form-group">
        <label for="progressArea"></label>
        <textarea class="form-control" id="progressArea" rows="5"></textarea>
    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
    function connect() {
        let socket = new WebSocket(location.origin.replace(/^http/, 'ws') + /*[[@{/progress}]]*/ ' blabla');
        let ws = Stomp.over(socket);

        ws.connect({}, function (frame) {
            ws.subscribe("/user/queue/errors", function (message) {
                alert("Error " + message.body);
            });

            ws.subscribe("/user/queue/progress", function (message) {
                log(JSON.parse(message.body));
            });
        }, function (error) {
            //alert("STOMP error " + error);
        });
    }

    function log(msg) {
        let progressArea = document.getElementById("progressArea");
        let progressBar = document.getElementById("progressBar");
        let totalProgressBar = document.getElementById("totalProgressBar");
        if (msg.message !== "") {
            progressArea.innerHTML += msg.message + '\n';
            progressArea.scrollTop = progressArea.scrollHeight;
        }
        progressBar.style.width = msg.progress + "%";
        if (msg.total !== -1) {
            totalProgressBar.style.width = msg.total + "%";
        }
    }

    function disconnect() {
        if (ws != null) {
            ws.close();
        }
        setConnected(false);
        console.log("Disconnected");
    }
    /*]]>*/
</script>


<footer th:replace="fragments/general :: footer"></footer>
</body>
</html>