<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/general :: header-css"></head>

<body>
<div th:replace="fragments/general :: header"></div>

<div class="container">

    <h1>Generera noter</h1>
    <p>Här kan du generera nya PDF-noter till Terrassorkesterns Google Drive. Antingen så väljer du alla
        låtar (standard) eller så markerar du i listan vilka det gäller.
    </p>
    <p>Det tar 2-3 minuter att konvertera en låt och skall man ta och konvertera alla (+400 stycken), så tar det
        följaktligen över 12 timmar.
    </p>
    <form action="#" th:action="@{/noteConverter/convert}" th:object="${noteConverterDto}" method="post">

        <div class="form-group">
            <select multiple class="form-control" th:field="*{selectedSongs}" id="sel1">
                <option th:each="score : ${scores}"
                        th:value="${score.id}"
                        th:text="${score.title}"></option>
            </select>
        </div>

        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" th:field="*{allScores}" value="" checked>Konvertera alla
                låtar
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" th:field="*{upload}" value="" checked>Ladda upp till
                Google
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" th:field="*{async}" value="">Flera trådar
            </label>
        </div>
        <br>
        <button class="btn btn-primary" type="submit" name="convertNotes">Generera noter!</button>
        <button class="btn btn-primary" type="submit" name="createPacks">Skapa instrumentpacks!</button>
    </form>

    <br>

    <div class="progress">
        <div id="progressBar" class="progress-bar progress-bar-success" role="progressbar"
             aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">0%
        </div>
    </div>

</div>

<footer th:replace="fragments/general :: footer"></footer>
</body>
</html>