<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/general :: header-css"></head>

<body>
<div th:replace="fragments/general :: header"></div>

<div class="container">

    <h1>Uppdatera notförteckning</h1>
    Här kan du uppdatera notförteckningen på Terrassorkesters Google Drive. Den gamla filen skrivs över med uppdaterad
    data.
    När du känner dig klar så tryck på knappen!
    <br>
    <br>
    <a href="noteListerGenerate" class="btn btn-primary" role="button">Generera förteckning</a>

</div>

<footer th:replace="fragments/general :: footer"></footer>
</body>
</html>