<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/general :: header-css"/>

<body>
<div th:replace="fragments/general :: header"/>


<div class="container-fluid">
    <br>
    <table class="table table-bordered table-striped table-hover table-sm">
        <thead>
        <tr>
            <th>Titel</th>
            <th>Datum</th>
            <th>Antal låtar</th>
            <th>Action</th>
        </tr>
        </thead>

    </table>
</div>

<footer th:replace="fragments/general :: footer"/>
</body>
</html>