<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/general :: header-css"/>

<body>
<div th:replace="fragments/general :: header"/>

<div class="container-fluid">
    <br>
    <table class="table table-bordered table-striped table-hover table-sm">
        <thead>
        <tr>
            <th>Namn</th>
            <th>Datum</th>
            <th>Antal låtar</th>
            <th><a th:href="@{/playlist/new}"><i class="material-icons">add_box</i></a></th>
        </tr>
        </thead>

        <tr th:each="playlist : ${playlists}">
            <td th:text="${playlist.name}"></td>
            <td th:text="${playlist.date}"></td>
            <td></td>
            <td>
                <a th:href="@{/playlist/edit(id=${playlist.id})}"><i class="material-icons">mode_edit</i></a>
            </td>
        </tr>
    </table>
</div>

<footer th:replace="fragments/general :: footer"/>
</body>
</html>