<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/general :: header-css"></head>

<body>
<div th:replace="fragments/general :: header"></div>

<!-- Modal -->
<div class="modal" id="deleteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ta bort låt</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Vill du verkligen ta bort denna låt?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Avbryt</button>
                <a class="btn btn-danger" th:href="@{/score/delete(id=${score.id})}">Ta bort</a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h1>Redigera låt</h1>

    <form role="form" th:action="@{/score/save}" th:object="${score}" th:method="post">
        <input type="hidden" th:field="*{id}" th:value="${score.id}"/>

        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="form-group col">
                        <label>Titel</label>
                        <input type="text" class="form-control" th:field="*{title}" th:value="${score.title}"
                               id="title"/>
                        <span class="text-danger" th:if="${#fields.hasErrors('title')}"
                              th:errors="*{title}">Error</span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col">
                        <label>Subtitel</label>
                        <input type="text" class="form-control" th:field="*{subtitle}" th:value="${score.subtitle}"/>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-9" id="prefetch-genres">
                        <label>Genre</label>
                        <input type="text" class="form-control typeahead" autocomplete="off" th:field="*{genre}"
                               th:value="${score.genre}"/>
                        <span class="text-danger" th:if="${#fields.hasErrors('genre')}"
                              th:errors="*{genre}">Error</span>
                    </div>
                    <div class="form-group col">
                        <label>År</label>
                        <input type="number" class="form-control" th:field="*{year}" th:value="${score.year}"/>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="row">
                    <figure class="figure">
                        <img class="figure-img img-fluid rounded" th:src="@{/images/amoriner180x275.jpg}"/>
                    </figure>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col" id="prefetch-composers">
                <label>Kompositör</label>
                <input type="text" class="form-control typeahead" autocomplete="off" th:field="*{composer}"
                       th:value="${score.composer}"/>
            </div>
            <div class="form-group col" id="prefetch-authors">
                <label>Författare</label>
                <input type="text" class="form-control typeahead" autocomplete="off" th:field="*{author}"
                       th:value="${score.author}"/>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col" id="prefetch-arrangers">
                <label>Arrangör</label>
                <input type="text" class="form-control typeahead" autocomplete="off" th:field="*{arranger}"
                       th:value="${score.arranger}"/>
            </div>
            <div class="form-group col" id="prefetch-publishers">
                <label>Förlag</label>
                <input type="text" class="form-control typeahead" autocomplete="off" th:field="*{publisher}"
                       th:value="${score.publisher}"/>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label>Kommentar</label>
                <textarea class="form-control" rows="4" th:field="*{comment}" th:value="${score.comment}"></textarea>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col">
                <label>Sättning</label>
                <table class="table table-bordered table-sm">
                    <thead>
                    <tr>
                        <th scope="col" style="width:10%">Instrument</th>
                        <th scope="col" style="width:10%">Placering</th>
                        <th scope="col" style="width:10%">Antal</th>
                        <th scope="col" style="width:55%">Kommentar</th>
                        <th scope="col" style="width:15%">
                            <button sec:authorize="hasAuthority('EDIT_SONG')" class="btn btn-primary btn-sm"
                                    type="submit"
                                    name="addRow">Lägg till
                            </button>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="scorePart,rowStat : ${score.scoreParts}">
                        <td class="align-middle">
                            <select th:field="*{scoreParts[__${rowStat.index}__].instrument.id}">
                                <option th:each="i2 : ${allInstruments}" th:value="${i2.id}" th:text="${i2.name}">bla
                                </option>
                            </select>
                        </td>
                        <td>
                            <input type="number" class="form-control form-control-sm"
                                   th:field="*{scoreParts[__${rowStat.index}__].page}" th:value="${scorePart.page}"/>
                        </td>
                        <td>
                            <input type="number" class="form-control form-control-sm"
                                   th:field="*{scoreParts[__${rowStat.index}__].length}"
                                   th:value="${scorePart.length}"/>
                        </td>
                        <td>
                            <input type="text" class="form-control form-control-sm"
                                   th:field="*{scoreParts[__${rowStat.index}__].comment}"
                                   th:value="${scorePart.comment}"/>
                        </td>

                        <td class="align-middle">
                            <button sec:authorize="hasAuthority('EDIT_SONG')" class="btn btn-sm btn-danger"
                                    type="submit"
                                    name="deleteRow" th:value="${rowStat.index}">Ta bort
                            </button>
                            <a sec:authorize="hasAuthority('PRINT_SCORE')" th:if="${scorePart.googleId}"
                               th:href="@{https://drive.google.com/open(id=${scorePart.googleId})}">
                                <i class="material-icons" title="Skriv ut stämma">print</i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Detaljer</label>
            <div class="col-sm">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox"
                           th:field="*{scanned}" th:value="${score.scanned}"/>
                    <label class="form-check-label">Inscannad</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox"
                           th:field="*{cover}" th:value="${score.cover}"/>
                    <label class="form-check-label">Förstasida finns</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox"
                           th:field="*{color}" th:value="${score.color}"/>
                    <label class="form-check-label">Förstasidan är i färg</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox"
                           th:field="*{upperleft}" th:value="${score.upperleft}"/>
                    <label class="form-check-label">Scanningen är linjerad med övre vänstra hörnet</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox"
                           th:field="*{imageProcess}" th:value="${score.imageProcess}"/>
                    <label class="form-check-label">Bildbehandla (beskär, fixa färger etc.)</label>
                </div>
            </div>
            <div class="col-sm">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:field="*{archived}" th:value="${score.archived}"/>
                    <label class="form-check-label">Original i arkivet</label>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Arkivplats</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" th:field="*{archiveLocation}"
                               th:value="${score.archiveLocation}"/>
                    </div>
                </div>

            </div>
        </div>
        <div class="form-row">
            <div class="form-group col">
                <label>Filnamn</label>
                <input type="text" class="form-control" th:field="*{filename}" th:value="${score.filename}"/>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <a class="btn btn-secondary" th:href="@{/score/list}">Tillbaka</a>
                <button sec:authorize="hasAuthority('EDIT_SONG')" type="button" class="btn btn-danger"
                        data-toggle="modal" data-target="#deleteModal">Ta bort
                </button>
                <input sec:authorize="hasAuthority('EDIT_SONG')" type="submit" class="btn btn-primary" value="Spara"/>
            </div>
        </div>
    </form>
</div>

<footer th:replace="fragments/general :: footer"></footer>

<script type="text/javascript">
window.onload=function(){

var genres = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.whitespace,
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  prefetch: '/score/genres.json'
});

var composers = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.whitespace,
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  prefetch: '/score/composers.json'
});

var authors = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.whitespace,
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  prefetch: '/score/authors.json'
});

var arrangers = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.whitespace,
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  prefetch: '/score/arrangers.json'
});

var publishers = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.whitespace,
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  prefetch: '/score/publishers.json'
});

$('#prefetch-genres .typeahead').typeahead({
    highlight: true
  },
  {
    name: 'genres',
    source: genres
});

$('#prefetch-composers .typeahead').typeahead({
    highlight: true
  },
  {
    name: 'composers',
    source: composers
});

$('#prefetch-authors .typeahead').typeahead({
    highlight: true
  },
  {
    name: 'authors',
    source: authors
});

$('#prefetch-arrangers .typeahead').typeahead({
    highlight: true
  },
  {
    name: 'arrangers',
    source: arrangers
});

$('#prefetch-publishers .typeahead').typeahead({
    highlight: true
  },
  {
    name: 'publishers',
    source: publishers
});

}






























































</script>

</body>
</html>