<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="sv">
<head>
    <th:block th:replace="~{fragments/general :: header-css}"></th:block>
    <title>Redigera inställningar</title>
</head>

<body>
<div th:replace="~{fragments/general :: header}"></div>

<!-- Modal -->
<div class="modal" id="deleteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ta bort sättning</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Vill du verkligen ta bort denna sättning?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Avbryt</button>
                <a class="btn btn-danger" th:href="@{/setting/delete(id=${setting.id})}">Ta bort</a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h1>Redigera sättning</h1>

    <form role="form" th:action="@{/setting/save}" th:object="${setting}" th:method="post">
        <input type="hidden" th:field="*{id}" th:value="${setting.id}"/>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" th:field="*{name}" th:value="${setting.name}" id="name"/>
            <span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</span>
            <label for="name">Namn</label>
        </div>
        <div class="form-group">
            <label for="instrumentSelect">Instrument</label>
            <select class="form-control" id="instrumentSelect" th:field="*{instruments}" multiple="multiple" size="10">
                <option th:each="i : ${allInstruments}" th:value="${i.id}" th:text="${i.name}">bla</option>
            </select>
        </div>
        <div class="form-group">
            <a class="btn btn-secondary" th:href="@{/setting/list}">Tillbaka</a>
            <button sec:authorize="hasAuthority('EDIT_INSTRUMENT')" type="button" class="btn btn-danger"
                    data-toggle="modal" data-target="#deleteModal">Ta bort
            </button>
            <input sec:authorize="hasAuthority('EDIT_INSTRUMENT')" type="submit" class="btn btn-primary"
                   value="Spara"/>
        </div>
    </form>
</div>

<footer th:replace="~{fragments/general :: footer}"></footer>
</body>
</html>