<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="header :: header-css"/>

    <title>Repertoire</title>
</head>
<body>
<div th:replace="header :: header"/>

<div class="container-fluid">
    <br>
    <table class="table table-bordered table-striped table-hover table-sm">
        <thead>
        <tr>
            <th scope="col">Namn</th>
            <th scope="col">Genre</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="song : ${songs}">
            <td th:text="${song.title}"></td>
            <td th:text="${song.genre}"></td>
            <td>
                <a th:href="@{/song/edit(id=${song.id})}"><i class="material-icons">mode_edit</i></a>
                <a th:href="@{/song/delete(id=${song.id})}"><i class="material-icons">delete</i></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="footer :: footer"/>
</body>
</html>