<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/general :: header-css"/>

<body>
<div th:replace="fragments/general :: header"/>

<div class="container-fluid">
    <h1>Låtdetaljer</h1>

    <form role="form" th:action="@{/song/update}" th:object="${song}" th:method="post">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="id">ID</label>
            <div class="col-sm-10">
                <input type="number" readonly class="form-control-plaintext" th:field="*{id}" th:value="${song.id}"
                       id="id"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="title">Titel</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{title}" th:value="${song.title}" id="title"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Subtitel</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{subtitle}" th:value="${song.subtitle}"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Genre</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{genre}" th:value="${song.genre}"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Kompositör</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{composer}" th:value="${song.composer}"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Författare</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{author}" th:value="${song.author}"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Arrangör</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{arranger}" th:value="${song.arranger}"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">År</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" th:field="*{year}" th:value="${song.year}"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Sättning</label>
            <div class="col-sm-10">
                <table class="table table-bordered table-sm">
                    <thead>
                    <th scope="col">Instrument</th>
                    <th scope="col">Placering</th>
                    <th scope="col">Antal</th>
                    <th scope="col">Kommentar</th>
                    <th scope="col"><button type="submit" name="addrow">Lägg till</button></th>
                    </thead>
                    <tbody>

                    <tr th:each="scorePart,rowStat : ${song.scoreParts}">
                        <!--
                                                <td th:text="${scorePart.instrument.name}"></td>
                                                <td th:text="${scorePart.page}"></td>
                                                <td th:text="${scorePart.length}"></td>
                                                <td th:text="${scorePart.comment}"></td>
                        -->
                        <td>
                        <select th:field="*{scoreParts[__${rowStat.index}__].instrument.id}">
                            <option th:each="i2 : ${allInstruments}"
                                    th:value="${i2.id}"
                                    th:text="${i2.name}">bla</option>
                        </select>

                        </td>
                        <td><input type="number" class="form-control" th:field="*{scoreParts[__${rowStat.index}__].page}" th:value="${scorePart.page}"/></td>
                        <td><input type="number" class="form-control" th:field="*{scoreParts[__${rowStat.index}__].length}" th:value="${scorePart.length}"/></td>
                        <td><input type="text" class="form-control" th:field="*{scoreParts[__${rowStat.index}__].comment}" th:value="${scorePart.comment}"/></td>

                        <td>
                            <!--<input type="hidden" th:field="*{scorePart.song}" th:value="${song}" />-->
                            <!--<button type="submit" name="removeRow" th:value="${scorePart.page}" >Ta bort</button>-->
                            <a th:href="@{/scorepart/edit(id=${song.id})}"><i class="material-icons">mode_edit</i></a>
                            <a th:href="@{/scorepart/delete(id=${song.id})}"><i class="material-icons">delete</i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">Scandetaljer</div>
            <div class="col-sm-10">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:field="*{scanned}" th:value="${song.scanned}"/>
                    <label class="form-check-label">Inscannad</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:field="*{cover}" th:value="${song.cover}"/>
                    <label class="form-check-label">Förstasida finns</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:field="*{color}" th:value="${song.color}"/>
                    <label class="form-check-label">Förstasidan är i färg</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:field="*{upperleft}" th:value="${song.upperleft}"/>
                    <label class="form-check-label">Scanningen är linjerad med övre vänstra hörnet</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:field="*{imageProcess}" th:value="${song.imageProcess}"/>
                    <label class="form-check-label">Bildbehandla (beskär, fixa färger etc.)</label>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Filnamn</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="*{filename}" th:value="${song.filename}"/>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="reset" class="btn btn-default">Avbryt</button>
                <input type="submit" class="btn btn-primary" value="Spara"/>
            </div>
        </div>
    </form>
</div>

<footer th:replace="fragments/general :: footer"/>
</body>
</html>