<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/general :: header-css"/>

<body>
<div th:replace="fragments/general :: header"/>

<div class="container">
    <br>
    <table class="table table-bordered table-striped table-hover table-sm">
        <thead>
        <tr>
            <th scope="col">Namn</th>
            <th scope="col">Genre</th>
            <th scope="col"><a th:href="@{/song/new}"><i class="material-icons" title="Lägg till låt">add_box</i></a></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="song : ${songs}">
            <td th:text="${song.title}"></td>
            <td th:text="${song.genre}"></td>
            <td>
                <a th:href="@{/song/edit(id=${song.id})}"><i class="material-icons" title="Ändra låt">mode_edit</i></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<footer th:replace="fragments/general :: footer"/>
</body>
</html>