<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/general :: header-css"/>

<body>
<div th:replace="fragments/general :: header"/>

<div class="container">
    <br>
    <table class="table table-bordered table-striped table-hover table-sm">
        <thead>
        <tr>
            <th scope="col">Namn</th>
            <th scope="col">Genre</th>
            <th scope="col"><a sec:authorize="hasAuthority('EDIT_SONG')" th:href="@{/song/new}"><i class="material-icons" title="Lägg till låt">add_box</i></a></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="song : ${songs}">
            <td th:text="${song.title}"></td>
            <td th:text="${song.genre}"></td>
            <td>
                <a th:href="@{/song/edit(id=${song.id})}"><i class="material-icons text-secondary" title="Ändra låt">mode_edit</i></a>
                <a sec:authorize="hasAuthority('PRINT_SCORE')" th:if="${song.googleIdFull}" th:href="@{https://drive.google.com/open(id=${song.googleIdFull})}"><i class="material-icons text-secondary" title="Skriv ut fullt arr">print</i></a>
                <a sec:authorize="hasAuthority('PRINT_SCORE')" th:if="${song.googleIdTo}" th:href="@{https://drive.google.com/open(id=${song.googleIdTo})}"><i class="material-icons text-secondary" title="Skriv ut TO arr">print</i></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<footer th:replace="fragments/general :: footer"/>
</body>
</html>