<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="sv">
<head>
    <th:block th:replace="~{fragments/general :: header-css}"></th:block>
    <title>Statistik</title>
</head>

<body>
<div th:replace="~{fragments/general :: header}"></div>

<div class="container">
    <h2>Statistik</h2>

    <h4>Databasen</h4>
    <table class="table table-bordered table-sm w-auto" aria-label="Database statistics">
        <thead>
        <tr>
            <th></th>
            <th>Antal</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Låtar</td>
            <td th:text="${statistics.numberOfSongs}"></td>
        </tr>
        <tr>
            <td>varav scannade</td>
            <td th:text="${statistics.numberOfScannedSongs}"></td>
        </tr>
        <tr>
            <td>Arrangemang</td>
            <td th:text="${statistics.numberOfArrangements}"></td>
        </tr>
        <tr>
            <td>Totalt scannade sidor</td>
            <td th:text="${statistics.numberOfScannedPages}"></td>
        </tr>
        <tr>
            <td>Instrument</td>
            <td th:text="${statistics.numberOfInstruments}"></td>
        </tr>
        <tr>
            <td>Låtlistor</td>
            <td th:text="${statistics.numberOfPlaylists}"></td>
        </tr>
        </tbody>
    </table>

    <h4>Rapporter</h4>
    <ul>
        <li><a th:href="@{/statistics/scorelist}">Notförteckning</a></li>
        <li><a th:href="@{/statistics/fullscorelist}">Notförteckning inklusive stämmor</a></li>
        <li><a th:href="@{/statistics/unscanned}">Noter som inte är scannade</a></li>
    </ul>

    <h4>10 i topp listor</h4>
    <h5>Populäraste genres</h5>
    <table class="table table-bordered table-sm w-auto" aria-label="Top 10 genres">
        <thead>
        <tr>
            <th>Genre</th>
            <th>Antal</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="genre : ${statistics.topGenres}">
            <td th:text="${genre.name}"></td>
            <td th:text="${genre.value}"></td>
        </tr>
        </tbody>
    </table>

    <h5>Populäraste kompositörer</h5>
    <table class="table table-bordered table-sm w-auto" aria-label="Top 10 composers">
        <thead>
        <tr>
            <th>Kompositör</th>
            <th>Antal</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="genre : ${statistics.topComposers}">
            <td th:text="${genre.name}"></td>
            <td th:text="${genre.value}"></td>
        </tr>
        </tbody>
    </table>

    <h5>Populäraste arrangörer</h5>
    <table class="table table-bordered table-sm w-auto" aria-label="Top 10 arrangers">
        <thead>
        <tr>
            <th>Arrangör</th>
            <th>Antal</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="genre : ${statistics.topArrangers}">
            <td th:text="${genre.name}"></td>
            <td th:text="${genre.value}"></td>
        </tr>
        </tbody>
    </table>

    <h5>Populäraste textförfattare</h5>
    <table class="table table-bordered table-sm w-auto" aria-label="Top 10 authors">
        <thead>
        <tr>
            <th>Textförfattare</th>
            <th>Antal</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="genre : ${statistics.topAuthors}">
            <td th:text="${genre.name}"></td>
            <td th:text="${genre.value}"></td>
        </tr>
        </tbody>
    </table>

    <h5>Populäraste notförlag</h5>
    <table class="table table-bordered table-sm w-auto" aria-label="Top 10 publishers">
        <thead>
        <tr>
            <th>Notförlag</th>
            <th>Antal</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="genre : ${statistics.topPublishers}">
            <td th:text="${genre.name}"></td>
            <td th:text="${genre.value}"></td>
        </tr>
        </tbody>
    </table>

    <div class="row mb-3">
        <div class="col-auto">
            <a class="btn btn-secondary" onclick="history.back()">Tillbaka</a>
        </div>
    </div>
</div>


<footer th:replace="~{fragments/general :: footer}"></footer>
</body>
</html>