<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/general :: header-css" />

<body>
	<div th:replace="fragments/general :: header" />

	<div class="container">
		<h1>Redigera användare</h1>

		<form role="form" th:action="@{/user/save}" th:object="${user}"
			th:method="post">
			<input type="hidden" th:field="*{id}" th:value="${user.id}" />
			<div sec:authorize="hasRole('ROLE_ADMIN')" class="form-group row">
				<label class="col-sm-3 col-form-label" for="name">Användarnamn</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" th:field="*{username}"
						th:value="${user.username}" id="username" /> <span
						class="text-danger" th:if="${#fields.hasErrors('username')}"
						th:errors="*{username}">Error</span>
				</div>
			</div>
			<input sec:authorize="!hasRole('ROLE_ADMIN')" type="hidden"
				th:field="*{username}" th:value="${user.username}" />
			<div class="form-group row">
				<label class="col-sm-3 col-form-label" for="fullname">Namn</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" th:field="*{fullname}"
						th:value="${user.fullname}" id="fullname" />
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-3 col-form-label" for="password">Lösenord</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" th:field="*{password}"
						th:value="${user.password}" id="password" />
				</div>
			</div>
			<div sec:authorize="hasRole('ROLE_ADMIN')" class="form-group row">
				<div class="col-sm-3">Roll & behörighet</div>
				<div class="col-sm-9">

				</div>
			</div>
			<input sec:authorize="!hasRole('ROLE_ADMIN')" type="hidden"
				th:field="*{enabled}" th:value="${user.enabled}" />
			<div class="form-group row">
				<div class="col-sm-9">
					<a class="btn btn-secondary" th:href="@{/}">Tillbaka</a> <input
						type="submit" class="btn btn-primary" value="Spara" />
				</div>
			</div>
		</form>
	</div>

	<footer th:replace="fragments/general :: footer" />
</body>
</html>