<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="sv">
<head>
    <th:block th:replace="~{fragments/general :: header-css}"></th:block>
    <title>Redigera band</title>
</head>

<body>
<div th:replace="~{fragments/general :: header}"></div>

<!-- Modal -->
<div class="modal" id="deleteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Ta bort band</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Vill du verkligen ta bort detta band?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Avbryt</button>
                <a class="btn btn-danger" th:href="@{/band/delete(id=${band.id})}">Ta bort</a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h1>Redigera band</h1>

    <form role="form" th:action="@{/band/save}" th:object="${band}" th:method="post">
        <input type="hidden" th:field="*{id}" th:value="${band.id}"/>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" th:field="*{name}" th:value="${band.name}" id="name"/>
            <span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</span>
            <label for="name">Namn</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" th:field="*{description}" th:value="${band.description}"
                   id="shortName"/>
            <label for="shortName">Beskrivning</label>
        </div>

        <div class="col-sm-9">
            <a class="btn btn-secondary" onclick="history.back()">Tillbaka</a>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Ta bort
            </button>
            <input type="submit" class="btn btn-primary" value="Spara"/>
        </div>
    </form>
</div>

<footer th:replace="~{fragments/general :: footer}"></footer>
</body>
</html>